# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Development

on:
  pull_request:
    branches: [main]

jobs:
  terraform-validate:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3

      - name: terraform init (no backend)
        run: terraform -chdir=terraform init -backend=false

      - name: terraform validate
        run: terraform -chdir=terraform validate
